.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#footer {
  background-color: #212121;
  color: white;
  text-align: center;
}

.titulo-footer {
  color: #ccb26b;
}

.copyright {
  text-align: center;
  margin-top: 5%;
  color: #ccb26b;
}

#navbar {
    color: #ccb26b;
    background-color: #212121;
}

.texto-nav, i {
  color: #ccb26b;
}

.img-producto {

  width:60%;
  height:60%;
}

#productos {
  text-align: center;
  color: #ccb26b;
  background-color: #212121;
}

.descripcion, .price{
  color: white;
}

#centro {
  background-color: #696969;
  text-align: center;
}

form {
  text-align: center;
}

#inicio {
  background-color: #212121;
  text-align: center;
}

#productos {
  margin-bottom: 5%;
}

#etiquetas {
  padding: 8%;
  background-color: #696969;

}

.icon-box {
  background-color: #212121;
  color: white;
  padding: 5%;
}

.why-box {
  background-color: #212121;
  color: white;
  padding: 5%;
}

.menu-item {
  padding: 1.5%;
}

.titulo-producto {
  color: white;
}